.day {
    background-color: white;
    padding: 1rem;
    min-height: 200px;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px;
  }
  
  .dayTitle {
    margin-bottom: 10px;
  }
  
  .day ul {
    list-style-type: none;
    padding: 0;
  }
  
  .day li {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;

  }
  
  .exerciseName {
    font-weight: bold;
  }
  
  .day input {
    width: 50px;
    margin-left: 1px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
  }