.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f8f8f8 0%, #ffffff 100%);
    padding: 30px;
    margin: 20px;
    border: 2px solid #eee;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .container:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        border-color: #b8b8b8;
  }
  
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  