.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 1rem;
    overflow: visible;
    }
    
    .siteTitle {
    color: gray;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    }
    
    ul {
    display: flex;
    list-style-type: none;
    }
    
    li {
    margin-left: 1rem;
    overflow: visible;
    }
    
    .active {
    font-weight: bold;
    }
    
    .btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: gray;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    text-decoration: none;
    }
    
    .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #BB0000;
    transition: 0.5s ease;
    }
    
    .btn:hover {
    color: #BB0000;
    transition-delay: 0.5s;
    }
    
    .btn:hover::before {
    width: 100%;
    }
    
    .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: 0.4s ease;
    z-index: -1;
    }
    
    .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    }

    @media screen and (max-width: 960px) {
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #222222;
            padding: 1rem;
            overflow: scroll;
            }
            
      }